CarRentalWebClient/CarRentalWebClient/Connected Services/CarRentalService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sofiazaid.net/carRental/car/2018/11" elementFormDefault="qualified" targetNamespace="http://sofiazaid.net/carRental/car/2018/11" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CarRequestObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CarId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseKey" nillable="true" type="xs:string" />
  <xs:element name="CarInfoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ManufacturingYear" type="xs:int" />
        <xs:element minOccurs="0" name="Available" type="xs:boolean" />
        <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>